.component2meal10Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-100);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.22);
}
.layer1Icon {
  position: relative;
  width: 18px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.basket {
  position: absolute;
  height: 12.95%;
  width: 16.61%;
  top: 82.92%;
  right: 5.19%;
  bottom: 4.13%;
  left: 78.2%;
  border-radius: var(--br-131xl);
  border: 1px solid var(--color-orangered);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini);
}
.vectorIcon {
  position: relative;
  width: 19px;
  height: 17px;
}
.like {
  position: absolute;
  height: 12.4%;
  width: 16.26%;
  top: 82.92%;
  right: 24.91%;
  bottom: 4.68%;
  left: 58.82%;
  border-radius: var(--br-131xl);
  border: 1px solid var(--color-orangered);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
}
.fruitBowl,
.varietyRangingFrom {
  position: absolute;
  left: 8.65%;
  display: inline-block;
}
.fruitBowl {
  height: 9.09%;
  width: 80.62%;
  top: 60.06%;
  font-weight: 600;
}
.varietyRangingFrom {
  height: 17.08%;
  width: 86.16%;
  top: 69.15%;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.mixedFruitBowl1 {
  position: absolute;
  height: 40.77%;
  width: 75.43%;
  top: 9.37%;
  right: 12.46%;
  bottom: 49.86%;
  left: 12.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component2meal10 {
  position: absolute;
  top: 1421px;
  left: 409px;
  width: 289px;
  height: 363px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-orangered);
  font-family: var(--font-inter);
}
