@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-montserrat: Montserrat;
  --font-mr-dafoe: "Mr Dafoe";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-45xl: 64px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-orangered: #ff5a11;
  --color-black: #000;
  --color-dimgray: #696868;
  --color-snow: #fff7f7;
  --color-gray-100: #fffdfd;
  --color-gainsboro: #d9d9d9;
  --color-blueviolet: #9747ff;
  --color-lime-100: #2ce30f;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-3xs: 10px;
  --gap-43xl: 62px;
  --gap-89xl: 108px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-4xs: 9px;
  --padding-mid: 17px;
  --padding-156xl: 175px;
  --padding-130xl: 149px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-131xl: 150px;
  --br-2xl: 21px;
  --br-81xl: 100px;
  --br-31xl: 50px;
  --br-8xs: 5px;
}
